.value {
    height: $height-card-value;
    width: $width-card-value;
    padding: $gutter-size/1.5 $gutter-size/2;
    background-color: $color-m-100;
    box-shadow: $box-shadow-italia;
    color: $color-t-100;
    overflow: hidden;
    &__title {
        margin-bottom: $gutter-size/8;
        text-transform: uppercase;
    }
    &__description {
        margin-bottom: 0;
        font-weight: $font-weight-normal;
    }

    &:hover {
        box-shadow: none;
        background-color: $color-p-100;
        color: $color-m-100;
    }
}
