@import "../utils/variables";
@import "../utils/mixins";

.container {
    position: fixed;
    top: 0;
    background-color: $color-m-100;
    width: 100vw;
    height: $height-header;
    padding: $gutter-size;
    z-index: $z-index-header;
    @include flexbox();
    svg {
        font-size: $font-size-title;
    }
    &.hasScrolled {
        height: calc(#{$height-header} * 0.6);
        padding: $gutter-size/2;
    }
}

.logoContainer {
    width: $width-container;
    margin: 0 auto;
    @include flexbox($justify-content: space-between);
    padding: 0 $gutter-size;
}

.pizzas {
    @include flexbox();
}
