@import "../utils/variables";
@import "../utils/mixins";

.container {
    @include flexbox($flex-direction: column);
    svg:hover {
        transition: all $anim-time $anim-curve;
        transform: rotate(360deg) scale(1.2);
    }
    .icon {
        margin-right: $gutter-size/2;
    }
    .title {
        text-transform: uppercase;
        color: $color-m-100;
        font-weight: $font-weight-bold;
        line-height: 1;
        margin: 0;
    }
}
