@import "../utils/variables";
@import "../utils/mixins";

.container {
    cursor: pointer;
    border-radius: 50%;
    border: 0.4rem solid $color-crust;
    box-shadow: $box-shadow-container;
    width: $width-pizza-header;
    height: $height-pizza-header;
    outline: none;

    &:not(:last-child) {
        margin-right: $gutter-size/4;
    }
}
