// COLORS
$color-pomodoro: #ff4242;
$color-insalata: #008c45;
$color-muzarella: #ffffff;
$color-cheese: gold;
$color-crust: burlywood;
$color-tartufo: #2b2d42;

$color-t-100: $color-tartufo;
$color-m-100: $color-muzarella;
$color-p-100: $color-pomodoro;
$color-i-100: $color-insalata;
$color-t-90: #343a40;
$color-t-80: #343a40;
$color-t-70: #495057;
$color-t-60: #adb5bd;
$color-m-50: #adb5bd;
$color-m-40: #ced4da;
$color-m-30: #dee2e6;
$color-m-20: #e9ecef;
$color-m-10: #f8f9fa;

// SIZES
$width-container: 100rem;
$width-cart: 30rem;
$width-logo: 4rem;
$width-button: 14rem;
$width-card-value: 20rem;
$width-pizza-header: 6rem;
$height-pizza-header: 6rem;
$height-card-value: 21rem;
$height-header: 16rem;
$gutter-size: 3.2rem;

// FONTS
$font-size-caption: 1rem;
$font-size-paragraph: 1.6rem;
$font-size-subtitle: 1.8rem;
$font-size-icon: 2.2rem;
$font-size-title: 3.2rem;
$font-size-big-title: 4.8rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Z-INDEXES
$z-index-header: 2;

// BORDERS && BOX SHADOWS
$border-radius-button: 0.4rem;
$border-radius-container: 0.8rem;
$border: 0.1rem solid $color-m-30;
$box-shadow-container: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-button: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$box-shadow-multicolor: $color-p-100 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    $color-i-100 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
$box-shadow-italia: $color-i-100 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, $color-p-100 10px -10px;

// OPACITY
$opacity-hover: 0.9;

// ANIMATIONS
$anim-curve: ease-in;
$anim-time: 0.2s;

// EXPORTS
:export {
    colorB100: $color-t-100;
    colorW100: $color-m-100;
    colorP100: $color-p-100;
    fontSizeCaption: $font-size-caption;
    fontSizeParagraph: $font-size-paragraph;
    fontSizeSubtitle: $font-size-subtitle;
    fontSizeBigTitle: $font-size-big-title;
    fontSizeTitle: $font-size-title;
    gutterSize: $gutter-size;
}
